In [1]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append(os.path.dirname(os.getcwd()))
import statsmodels.api as sm
import statsmodels.formula.api as sf

In [2]:
import chi2
import Allogit

In [3]:
col_base=["삶의 사다리 점수",'(가)건강 만족도','(나)가족의 수입 만족도','(다)주거 환경 만족도','(라)가족관계 만족도','(마)직업 만족도','(바)사회적 친분관계 만족도','(사)여가생활 만족도']
col_sub=["성별","연령","교육수준"]
D=pd.read_excel("../02_데이터검정/카테고리_소분류완료.xlsx",usecols=col_base+col_sub)

In [4]:
data=pd.DataFrame(D)

# 전체

### 모듈 적용

In [46]:
전체=Allogit.Lgt(data)

Optimization terminated successfully.
         Current function value: 0.541904
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.652613
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.652670
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.652935
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.653686
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.654799
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.517124
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.517368
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.518016
         Iterations 6

#### 전체 요약
|구분|기준(평균)|유효독립변수|
|--|--|--|
|최상위|7.82|건강,가족관계,직업 만족도|
|중상위|6.11|모든 만족도|
|최하위|4.84|건강,가족 수입,주거환경,가족관계,여가생활 만족도|

In [48]:
result=pd.merge(전체["중상위"][0].params.to_frame(),전체["중상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("중상위","coef"),("중상위","pvalue")])),inplace=True)
print('평균:',전체["중상위"][1])
result

평균: 6.116076784643071

                 (중상위, coef)  (중상위, pvalue)
const              -9.622729  2.632948e-118
(가)건강 만족도           0.371857   4.696007e-16
(나)가족의 수입 만족도       0.274914   8.439821e-07
(다)주거 환경 만족도        0.257816   6.280581e-04
(라)가족관계 만족도         0.403394   1.122983e-07
(마)직업 만족도           0.308263   2.348552e-05
(바)사회적 친분관계 만족도     0.621741   4.665250e-14
(사)여가생활 만족도         0.461951   1.115545e-11

In [49]:
result=pd.merge(전체["최상위"][0].params.to_frame(),전체["최상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최상위","coef"),("최상위","pvalue")])),inplace=True)
print('평균:',전체["최상위"][1])
result

평균: 7.824647887323944

             (최상위, coef)  (최상위, pvalue)
const          -3.760402   1.134329e-13
(가)건강 만족도       0.248874   5.358255e-05
(라)가족관계 만족도     0.277623   7.146349e-03
(마)직업 만족도       0.572275   1.182699e-08

In [50]:
result=pd.merge(전체["최하위"][0].params.to_frame(),전체["최하위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최하위","coef"),("최하위","pvalue")])),inplace=True)
print('평균:',전체["최하위"][1])
result

평균: 4.848484848484849

               (최하위, coef)  (최하위, pvalue)
const            -5.554574   2.784895e-43
(가)건강 만족도         0.458175   1.272288e-12
(나)가족의 수입 만족도     0.383834   1.112127e-06
(다)주거 환경 만족도      0.276803   1.061060e-03
(라)가족관계 만족도       0.527065   6.739643e-10
(사)여가생활 만족도       0.474266   6.586727e-08

# 연령

# 교육수준

## 교육수준과 삶의 만족도 사이의 연관성
1. 서열척도

In [9]:
# 스피어만
data[["삶의 사다리 점수",'교육수준']].corr(method="spearman")

           삶의 사다리 점수      교육수준
삶의 사다리 점수   1.000000  0.232986
교육수준        0.232986  1.000000

2. 카이제곱 검정(독립성)<br>
> 독립적이지 않다는 결론

In [10]:
chi2.chi2_try(data[["삶의 사다리 점수",'교육수준']])["type4"][0]["pvalue"]

9.068242536445476e-32

## 교육수준별 삶의 만족도~삶의 사다리 점수간의 관계
> 분석방법    
> 회귀계수의 pvalue가 0.05보다 높으면 높은 순으로 해당 column을 제거하고 다시 분석          
> 만약 남은 column은 최소 2개를 유지

#### 모듈 적용

In [12]:
교육수준=Allogit.Lgt(data,"교육수준")

Optimization terminated successfully.
         Current function value: 0.553254
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.555247
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.557538
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.561872
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.648605
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.648816
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.649314
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.650114
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.653045
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.657150
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.510714
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.511375
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.514283
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.518436
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.524035
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.563440
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.565130
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.582936
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.583080
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.583787
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.584510
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.585829
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.588215
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.618272
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.618341
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.619200
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.620821
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.484029
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.484288
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.485058
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.610725
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.611319
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.612091
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.614347
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.617410
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.621253
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.535469
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.536706
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.539162
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.546800
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.550808
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.540776
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.541226
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.541942
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.542569
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.549900
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.625350
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.626080
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.628957
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.634824
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.645346
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.661111
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635797
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.635811
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.636079
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.636749
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.638907
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.641950
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.565986
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.568021
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.643445
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.643449
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.643481
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.644741
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.646044
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.650951
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.474612
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.476149
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.477490
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.479146
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.571845
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.572123
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.572567
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.575704
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.539294
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.539717
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.541107
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.543672
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.545662
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.549025
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.640980
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.641071
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.641454
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.642328
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.643958
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.650489
         Iterations 5

### 교욱수준별 분석

#### 교육수준 2 : 무학
|구분|기준(평균)|유효독립변수|
|--|--|--|
|최상위|7.10|가족수입,사회적친분관계|
|중상위|5.56|건강,가족수입,사회적친분관계,여가생활만족도|
|최하위|4.09|가족수입,주거환경만족도|

In [20]:
result=pd.merge(교육수준[2]["중상위"][0].params.to_frame(),교육수준[2]["중상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("중상위","coef"),("중상위","pvalue")])),inplace=True)
print('평균:',교육수준[2]["중상위"][1])
result

평균: 5.560311284046692

                 (중상위, coef)  (중상위, pvalue)
const              -6.354932   3.174635e-19
(가)건강 만족도           0.576536   4.935974e-06
(나)가족의 수입 만족도       0.486149   7.103450e-04
(바)사회적 친분관계 만족도     0.625167   7.132104e-04
(사)여가생활 만족도         0.429370   1.425509e-02

In [21]:
result=pd.merge(교육수준[2]["최상위"][0].params.to_frame(),교육수준[2]["최상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최상위","coef"),("최상위","pvalue")])),inplace=True)
print('평균:',교육수준[2]["최상위"][1])
result

평균: 7.108

                 (최상위, coef)  (최상위, pvalue)
const              -6.571894   1.663667e-07
(나)가족의 수입 만족도       0.875105   4.227774e-05
(바)사회적 친분관계 만족도     0.787632   6.253928e-03

In [22]:
result=pd.merge(교육수준[2]["최하위"][0].params.to_frame(),교육수준[2]["최하위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최하위","coef"),("최하위","pvalue")])),inplace=True)
print('평균:',교육수준[2]["최하위"][1])
result

평균: 4.09469696969697

               (최하위, coef)  (최하위, pvalue)
const            -2.937042       0.000053
(나)가족의 수입 만족도     0.690001       0.000453
(다)주거 환경 만족도      0.297056       0.129961

#### 교육수준 3 : 초등학교
|구분|기준(평균)|유효독립변수|
|--|--|--|
|최상위|7.10|직업,여가생활만족도|
|중상위|5.89|건강,가족수입,가족관계,직업,사회적친분관계,여가생활만족도|
|최하위|4.28|건강,가족관계,주거환경,사회적 친분관계만족도|

In [24]:
result=pd.merge(교육수준[3]["중상위"][0].params.to_frame(),교육수준[3]["중상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("중상위","coef"),("중상위","pvalue")])),inplace=True)
print('평균:',교육수준[3]["중상위"][1])
result

평균: 5.898174831892411

                 (중상위, coef)  (중상위, pvalue)
const              -7.996389   1.163116e-35
(가)건강 만족도           0.311360   3.273642e-04
(나)가족의 수입 만족도       0.400841   6.992137e-05
(라)가족관계 만족도         0.657902   8.517601e-07
(마)직업 만족도           0.264117   3.456102e-02
(바)사회적 친분관계 만족도     0.462052   2.679116e-04
(사)여가생활 만족도         0.414251   6.263853e-04

In [25]:
result=pd.merge(교육수준[3]["최상위"][0].params.to_frame(),교육수준[3]["최상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최상위","coef"),("최상위","pvalue")])),inplace=True)
print('평균:',교육수준[3]["최상위"][1])
result

평균: 7.105704697986577

             (최상위, coef)  (최상위, pvalue)
const          -5.122105   9.465380e-13
(마)직업 만족도       0.785077   5.198029e-06
(사)여가생활 만족도     0.457340   2.253889e-03

In [26]:
result=pd.merge(교육수준[3]["최하위"][0].params.to_frame(),교육수준[3]["최하위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최하위","coef"),("최하위","pvalue")])),inplace=True)
print('평균:',교육수준[3]["최하위"][1])
result

평균: 4.280898876404494

                 (최하위, coef)  (최하위, pvalue)
const              -5.073717   7.943976e-11
(가)건강 만족도           0.440059   3.290697e-04
(다)주거 환경 만족도        0.413846   9.964582e-03
(라)가족관계 만족도         0.509843   2.770049e-03
(바)사회적 친분관계 만족도     0.330667   3.653402e-02

#### 교육수준 4 : 중학교
|구분|기준(평균)|유효독립변수|
|--|--|--|
|최상위|7.79|가족수입,직업만족도|
|중상위|6.00|건강,주거 환경,직업,사회적친분관계만족도|
|최하위|4.83|건강,.직업,가족관계만족도|

In [27]:
result=pd.merge(교육수준[4]["중상위"][0].params.to_frame(),교육수준[4]["중상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("중상위","coef"),("중상위","pvalue")])),inplace=True)
print('평균:',교육수준[4]["중상위"][1])
result

평균: 6.0

                 (중상위, coef)  (중상위, pvalue)
const              -8.437494   1.990746e-15
(가)건강 만족도           0.296341   1.700898e-02
(다)주거 환경 만족도        0.584653   6.441249e-03
(마)직업 만족도           0.616620   1.649362e-03
(바)사회적 친분관계 만족도     0.775872   8.257791e-04

In [29]:
result=pd.merge(교육수준[4]["최상위"][0].params.to_frame(),교육수준[4]["최상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최상위","coef"),("최상위","pvalue")])),inplace=True)
print('평균:',교육수준[4]["최상위"][1])
result

평균: 7.795180722891566

               (최상위, coef)  (최상위, pvalue)
const            -2.874327       0.012515
(나)가족의 수입 만족도     0.281469       0.122037
(마)직업 만족도         0.613123       0.032543

In [30]:
result=pd.merge(교육수준[4]["최하위"][0].params.to_frame(),교육수준[4]["최하위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최하위","coef"),("최하위","pvalue")])),inplace=True)
print('평균:',교육수준[4]["최하위"][1])
result

평균: 4.8359375

             (최하위, coef)  (최하위, pvalue)
const          -4.506955       0.000002
(가)건강 만족도       0.407276       0.021763
(라)가족관계 만족도     0.543770       0.016897
(마)직업 만족도       0.785703       0.000582

#### 교육수준 5 : 고등학교
|구분|기준(평균)|유효독립변수|
|--|--|--|
|최상위|7.82|가족관계,직업만족도|
|중상위|6.27|건강,가족 수입,가족 관계,직업,사회적친분관계,여가생활 만족도|
|최하위|4.83|건강,.가족수입,가족관계,여가생활 만족도|

In [33]:
result=pd.merge(교육수준[5]["중상위"][0].params.to_frame(),교육수준[5]["중상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("중상위","coef"),("중상위","pvalue")])),inplace=True)
print('평균:',교육수준[5]["중상위"][1])
result

평균: 6.273584905660377

                 (중상위, coef)  (중상위, pvalue)
const              -7.971771   8.620384e-24
(가)건강 만족도           0.371946   3.736275e-04
(나)가족의 수입 만족도       0.262130   2.276492e-02
(라)가족관계 만족도         0.428108   8.401742e-03
(마)직업 만족도           0.343833   2.679742e-02
(바)사회적 친분관계 만족도     0.510015   4.453146e-03
(사)여가생활 만족도         0.362898   1.104182e-02

In [35]:
result=pd.merge(교육수준[5]["최상위"][0].params.to_frame(),교육수준[5]["최상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최상위","coef"),("최상위","pvalue")])),inplace=True)
print('평균:',교육수준[5]["최상위"][1])
result

평균: 7.824104234527687

             (최상위, coef)  (최상위, pvalue)
const          -4.071515       0.000137
(라)가족관계 만족도     0.447633       0.045747
(마)직업 만족도       0.702589       0.000696

In [36]:
result=pd.merge(교육수준[5]["최하위"][0].params.to_frame(),교육수준[5]["최하위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최하위","coef"),("최하위","pvalue")])),inplace=True)
print('평균:',교육수준[5]["최하위"][1])
result

평균: 4.826747720364741

               (최하위, coef)  (최하위, pvalue)
const            -6.365368   1.309001e-11
(가)건강 만족도         0.467999   2.547244e-03
(나)가족의 수입 만족도     0.465892   7.155997e-03
(라)가족관계 만족도       0.668726   8.664228e-04
(사)여가생활 만족도       0.808223   7.759557e-05

#### 교육수준 6 : 전문대학교
|구분|기준(평균)|유효독립변수|
|--|--|--|
|최상위|7.82|주거환경관계,사회적 친분관계 만족도|
|중상위|6.56|건강,가족 관계,직업,여가생활 만족도|
|최하위|5.19|건강,주거환경 만족도|

In [38]:
result=pd.merge(교육수준[6]["중상위"][0].params.to_frame(),교육수준[6]["중상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("중상위","coef"),("중상위","pvalue")])),inplace=True)
print('평균:',교육수준[6]["중상위"][1])
result

평균: 6.5636363636363635

             (중상위, coef)  (중상위, pvalue)
const          -9.427310   4.997413e-10
(가)건강 만족도       0.401476   3.400939e-02
(라)가족관계 만족도     1.077867   3.766684e-04
(사)여가생활 만족도     1.146627   5.584562e-06

In [39]:
result=pd.merge(교육수준[6]["최상위"][0].params.to_frame(),교육수준[6]["최상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최상위","coef"),("최상위","pvalue")])),inplace=True)
print('평균:',교육수준[6]["최상위"][1])
result

평균: 7.817391304347826

                 (최상위, coef)  (최상위, pvalue)
const              -4.264837       0.029444
(다)주거 환경 만족도        0.561946       0.120883
(바)사회적 친분관계 만족도     0.623166       0.118344

In [40]:
result=pd.merge(교육수준[6]["최하위"][0].params.to_frame(),교육수준[6]["최하위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최하위","coef"),("최하위","pvalue")])),inplace=True)
print('평균:',교육수준[6]["최하위"][1])
result

평균: 5.190476190476191

              (최하위, coef)  (최하위, pvalue)
const           -3.884696       0.002402
(가)건강 만족도        0.364382       0.107971
(다)주거 환경 만족도     0.764576       0.012562

#### 교육수준 7 : 대학교,대학원
|구분|기준(평균)|유효독립변수|
|--|--|--|
|최상위|7.88|건강,직업 만족도|
|중상위|6.84|건강,가족 관계,직업,여가생활 만족도|
|최하위|5.11|건강,가족,직업환경 만족도|

In [42]:
result=pd.merge(교육수준[7]["중상위"][0].params.to_frame(),교육수준[7]["중상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("중상위","coef"),("중상위","pvalue")])),inplace=True)
print('평균:',교육수준[7]["중상위"][1])
result

평균: 6.840319361277445

                 (중상위, coef)  (중상위, pvalue)
const              -9.932521   8.343999e-23
(가)건강 만족도           0.490168   4.176774e-04
(나)가족의 수입 만족도       0.445126   2.335360e-03
(마)직업 만족도           0.432126   2.543542e-02
(바)사회적 친분관계 만족도     1.022166   7.670179e-06
(사)여가생활 만족도         0.547874   2.865501e-03

In [44]:
result=pd.merge(교육수준[7]["최상위"][0].params.to_frame(),교육수준[7]["최상위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최상위","coef"),("최상위","pvalue")])),inplace=True)
print('평균:',교육수준[7]["최상위"][1])
result

평균: 7.884615384615385

           (최상위, coef)  (최상위, pvalue)
const        -3.521750       0.000391
(가)건강 만족도     0.301784       0.068432
(마)직업 만족도     0.801506       0.000835

In [45]:
result=pd.merge(교육수준[7]["최하위"][0].params.to_frame(),교육수준[7]["최하위"][0].pvalues.to_frame(),right_index=True,left_index=True)
result.rename(columns=dict(zip(result.columns,[("최하위","coef"),("최하위","pvalue")])),inplace=True)
print('평균:',교육수준[7]["최하위"][1])
result

평균: 5.116402116402116

             (최하위, coef)  (최하위, pvalue)
const          -6.468334   1.739787e-08
(가)건강 만족도       0.727041   1.619591e-04
(라)가족관계 만족도     0.728220   3.079104e-03
(마)직업 만족도       0.551056   2.306483e-02