In [1]:
import pandas as pd
import os
import sys
path='C:/Users/SAMSUNG/Desktop/공부파일들/서울시빅데이타/인구/B034. 서울시 집계구 단위 인구센서스 통계/2. 파일데이터'
sys.path.append(path)

In [2]:
def makecsv(path,col_trans):
    def trans(line):
        return list(map(lambda x:x.replace("`",""),line.split("|")))
    
    with open(path,"r",encoding='utf-8') as f:
        temp=f.readlines()    
    col_name=trans(temp[0])
    datas=[trans(x) for x in temp[1:]]
    data_dc={}
    for i in range(len(col_name)):
        data_dc[col_name[i]]=[x[i] for x in datas]
    return pd.DataFrame(data_dc).rename(columns=dict(zip(col_name,col_trans)))
    #return pd.DataFrame(data_dc)

In [3]:
files=os.listdir(path)
files

['TB_T_CENSUS_AREA.txt',
 'TB_T_COMP_STA.txt',
 'TB_T_EMPL_STA.txt',
 'TB_T_HOME_CODE.txt',
 'TB_T_HOME_STA.txt',
 'TB_T_HOUS_CODE.txt',
 'TB_T_HOUS_STA.txt',
 'TB_T_INDSTR_CODE.txt',
 'TB_T_POP_CODE.txt',
 'TB_T_POP_STA.txt',
 'TB_T_TOT_CODE.txt',
 'TB_T_TOT_STA.txt']

In [4]:
행정구역=makecsv(path+"/"+files[0],['집계구코드','시군구코드','시군구명','행정동코드','행정동명'])
사업체수=makecsv(path+"/"+files[1],['년도구분','집계구코드','업종통계코드','사업체_구분코드','사업체_수'])
가구종류코드=makecsv(path+"/"+files[3],['가구종류_구분코드','통계항목','분류'])
가구수=makecsv(path+"/"+files[4],['년도구분','집계구코드','가구종류_구분코드','가구_수'])
주택종류코드=makecsv(path+"/"+files[5],['주택종류_구분코드','통계항목','분류'])
주택수=makecsv(path+"/"+files[6],['년도구분','집계구코드','주택종류_구분코드','주택_수'])
인구종류코드=makecsv(path+"/"+files[8],['주택종류_구분코드','통계항목','분류'])
인구수=makecsv(path+"/"+files[9],['년도구분','집계구코드','인구종류_구분코드','인구_수'])
for name in ["행정구역","사업체수","가구종류코드","가구수","주택종류코드","주택수","인구종류코드","인구수"]:
    exec(f"{name}.to_csv('./{name}.csv')")

In [5]:
save_path="C:/Users/SAMSUNG/Desktop/작업용/"

In [6]:
행정구역=pd.read_csv(save_path+"행정구역.csv")
사업체수=pd.read_csv(save_path+"사업체수.csv")
가구종류코드=pd.read_csv(save_path+"가구종류코드.csv")
가구수=pd.read_csv(save_path+"가구수.csv")

사업체 수에 사업체 구분코드는 찾을 수가 없음

## 가구수

In [7]:
행정구역.head(3)

   Unnamed: 0          집계구코드  시군구코드 시군구명  행정동코드     행정동명
0           0  1104052010004  11200  성동구    520  왕십리2동\n
1           1  1104052010005  11200  성동구    520  왕십리2동\n
2           2  1104052010006  11200  성동구    520  왕십리2동\n

In [8]:
가구수.head(3)

   Unnamed: 0  년도구분          집계구코드  가구종류_구분코드  가구_수
0           0  2010  1108083010002  TO_HO_001   170
1           1  2010  1108083010003  TO_HO_001    94
2           2  2010  1108083010004  TO_HO_001   167

In [9]:
가구종류코드.head(3)

   Unnamed: 0  가구종류_구분코드    통계항목              분류
0           0  HO_AR_001  연건평별주택      20㎡이하(호)\n
1           1  HO_AR_002  연건평별주택  20㎡~40㎡이하(호)\n
2           2  HO_AR_003  연건평별주택  40㎡~60㎡이하(호)\n

In [10]:
가구종류코드["분류"].value_counts(())

분류
20㎡이하(호)\n          1
1959년이전\n           1
2010년\n             1
2009년\n             1
2008년\n             1
2007년\n             1
2006년\n             1
2005년\n             1
2000년~2004년\n       1
1995년~1999년\n       1
1990년~1994년\n       1
1980년~1989년\n       1
1970년~1979년\n       1
1960년~1969년\n       1
주택이외거처\n            1
20㎡~40㎡이하(호)\n      1
영업용건물내주택\n          1
연립주택\n              1
아파트\n               1
단독주택\n              1
다세대\n               1
230㎡초과(호)\n         1
165㎡~230㎡이하(호)\n    1
130㎡~165㎡이하(호)\n    1
100㎡~130㎡이하(호)\n    1
85㎡~100㎡이하(호)\n     1
60㎡~85㎡이하(호)\n      1
40㎡~60㎡이하(호)\n      1
총주택(거처)수\n          1
Name: count, dtype: int64

## 주택

In [11]:
주택종류코드=pd.read_csv(save_path+"주택종류코드.csv")
주택수=pd.read_csv(save_path+"주택수.csv")

In [12]:
주택종류코드.head(2)

   Unnamed: 0  주택종류_구분코드         통계항목     분류
0           0  GA_CO_001  방,거실,식당수별가구  방1개\n
1           1  GA_CO_002  방,거실,식당수별가구  방2개\n

In [13]:
주택수.head(2)

   Unnamed: 0  년도구분          집계구코드  주택종류_구분코드  주택_수
0           0  2010  1103066020009  TO_GA_001   274
1           1  2010  1103066030001  TO_GA_001   236

In [14]:
주택=pd.merge(주택수,행정구역,left_on="집계구코드",right_on="집계구코드",how="left")[["년도구분","주택종류_구분코드","주택_수","시군구명","행정동명"]]

In [15]:
주택결과=pd.merge(주택,주택종류코드,right_on="주택종류_구분코드",left_on="주택종류_구분코드",how="left")[["년도구분","주택_수","시군구명","행정동명","통계항목","분류"]]

In [16]:
주택결과.to_csv("./주택결과.csv")

In [20]:
행정구역

       Unnamed: 0          집계구코드  시군구코드  시군구명  행정동코드     행정동명
0               0  1104052010004  11200   성동구    520  왕십리2동\n
1               1  1104052010005  11200   성동구    520  왕십리2동\n
2               2  1104052010006  11200   성동구    520  왕십리2동\n
3               3  1104052010007  11200   성동구    520  왕십리2동\n
4               4  1104052010008  11200   성동구    520  왕십리2동\n
...           ...            ...    ...   ...    ...      ...
83503       83503  2108060031500  26320    북구    572   만덕2동\n
83504       83504  3402056020001  44150   공주시    560    옥룡동\n
83505       83505  3402055010001  44150   공주시    550    금학동\n
83506       83506  3435038010003  44790   청양군    380    화성면\n
83507       83507  1106071020101  11230  동대문구    710    회기동\n

[83508 rows x 6 columns]