In [25]:
import pandas as pd

## Read Data sets

In [26]:
international_trade=pd.read_csv(r"C:\Users\SAMSUNG\Desktop\open\international_trade.csv")
sample_submission=pd.read_csv(r"C:\Users\SAMSUNG\Desktop\open\sample_submission.csv")
train_set=pd.read_csv(r"C:\Users\SAMSUNG\Desktop\open\train.csv")
test_set=pd.read_csv(r"C:\Users\SAMSUNG\Desktop\open\test.csv")

feature information

|feature|설명|
|--|--|
|무역수지|한국은행이 매월 발표하는 국제수지통계의 경상수지항목|
||한 나라가 다른 나라와 각종 상품을 사고 파는 과정에서 발생한 수입과 지출의 차이|

In [27]:
international_trade["품목명"].nunique()

34

In [29]:
international_trade

,기간,품목명,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,2019-01,토마토(신선한 것이나 냉장한 것으로 한정한다),356571,990,0,0,990
1,2019-01,양파,821330,222,4003206,1118,-896
2,2019-01,쪽파,60,1,93405,128,-127
3,2019-01,꽃양배추와 브로콜리(broccoli),160,1,638913,563,-562
4,2019-01,방울다다기 양배추,0,0,7580,38,-38
...,...,...,...,...,...,...,...
1269,2023-02,포포(papaw)[파파야(papaya)],0,0,23830,71,-71
1270,2023-02,사과,135165,351,0,0,351
1271,2023-02,배,2206012,5411,1,0,5411
1272,2023-02,신 체리[프루너스 체라서스(Prunus cerasus)],5,0,0,0,0
1273,2023-02,자두,0,0,2,0,0

예측해야하는 품목은 정해져있음
- 따라서 불필요한 품목의 무역수지를 고려하지 않겠음

In [30]:
item_match={
    "TG":"감귤",
    "BC":'브로콜리',
    "RD":"무",
    "CR":"당근",
    "CB":"양배추"
}

3월달의 가격을 예측하는 모델이 필요

In [38]:
non_product=["토마토(신선한 것이나 냉장한 것으로 한정한다)","양파","쪽파","위트루프"
             ,"위트루프 치커리(Witloof chicory)[시코리엄 인티부스 변종 포리오섬(Cichorium intybus var. foliosum)]",
             '오이류(신선한 것이나 냉장한 것으로 한정한다)',"콩[비그나(Vigna)속ㆍ파세러스(Phaseolus)속)]",
             '대추야자', '무화과', '파인애플','망고(mango)', '망고스틴(mangosteen)', '오렌지',
             '그레이프프루트(grapefruit)와 포멜로(pomelo)','레몬[시트러스 리몬(Citrus limon)ㆍ시트러스 리머늄(Citrus limonum)]', '수박',
             '포포(papaw)[파파야(papaya)]', '사과', '배', '자두',
            '완두[피섬 새티범(Pisum sativum)]', '구아바(guava)', '살구',
            '신 체리[프루너스 체라서스(Prunus cerasus)]', '복숭아[넥터린(nectarine)을 포함한다]',
            '방울토마토', '샬롯(shallot)', '참외','결구(結球) 상추',]

## 주의
방울다다기 양배추 ? 양배추에 포함 미포함
> 일단 포함

In [39]:
set(international_trade["품목명"].unique())-set(non_product)

{'감귤', '꽃양배추와 브로콜리(broccoli)', '당근', '방울다다기 양배추', '순무', '양배추'}

In [23]:
sample_submission

                   ID  answer
0     TG_A_J_20230304       0
1     TG_A_J_20230305       0
2     TG_A_J_20230306       0
3     TG_A_J_20230307       0
4     TG_A_J_20230308       0
...               ...     ...
1087  RD_F_J_20230327       0
1088  RD_F_J_20230328       0
1089  RD_F_J_20230329       0
1090  RD_F_J_20230330       0
1091  RD_F_J_20230331       0

[1092 rows x 2 columns]

In [24]:
international_trade

,기간,품목명,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,2019-01,토마토(신선한 것이나 냉장한 것으로 한정한다),356571,990,0,0,990
1,2019-01,양파,821330,222,4003206,1118,-896
2,2019-01,쪽파,60,1,93405,128,-127
3,2019-01,꽃양배추와 브로콜리(broccoli),160,1,638913,563,-562
4,2019-01,방울다다기 양배추,0,0,7580,38,-38
...,...,...,...,...,...,...,...
1269,2023-02,포포(papaw)[파파야(papaya)],0,0,23830,71,-71
1270,2023-02,사과,135165,351,0,0,351
1271,2023-02,배,2206012,5411,1,0,5411
1272,2023-02,신 체리[프루너스 체라서스(Prunus cerasus)],5,0,0,0,0
1273,2023-02,자두,0,0,2,0,0