In [1]:
import pandas as pd
import statsmodels.api as sm
import scipy.stats as sps

In [2]:
D=pd.read_excel("../02_데이터검정/카테고리_소분류완료.xlsx")

In [3]:
data=pd.DataFrame(D)

In [4]:
col=['연령',"주거면적","총생활비","방수"]

독립성 확인하기
-----------

### VIF 검사

In [6]:
vif_data={}
for c in col:
    colum=[x for x in col if x!=c]
    exog=sm.add_constant(data[colum])
    endog=data[c]
    test=sm.OLS(endog=endog,exog=exog).fit()
    vif_data[c]=1/(1-test.rsquared)

In [13]:
vif_result=pd.DataFrame(index=vif_data.keys(),data=vif_data.values())
vif_result.rename(columns={0:"VIF"}).sort_values(by="VIF",ascending=False)

           VIF
방수    2.507639
주거면적  2.445156
연령    1.300475
총생활비  1.205654

In [14]:
vif_data={}
for c in [x for x in col if x!="방수"]:
    colum=[x for x in col if x!=c]
    exog=sm.add_constant(data[colum])
    endog=data[c]
    test=sm.OLS(endog=endog,exog=exog).fit()
    vif_data[c]=1/(1-test.rsquared)

In [15]:
vif_result=pd.DataFrame(index=vif_data.keys(),data=vif_data.values())
vif_result.rename(columns={0:"VIF"}).sort_values(by="VIF",ascending=False)

           VIF
주거면적  2.445156
연령    1.300475
총생활비  1.205654

In [16]:
vif_data={}
for c in [x for x in col if x not in ["방수","주거면적"]]:
    colum=[x for x in col if x!=c]
    exog=sm.add_constant(data[colum])
    endog=data[c]
    test=sm.OLS(endog=endog,exog=exog).fit()
    vif_data[c]=1/(1-test.rsquared)

In [17]:
vif_result=pd.DataFrame(index=vif_data.keys(),data=vif_data.values())
vif_result.rename(columns={0:"VIF"}).sort_values(by="VIF",ascending=False)

           VIF
연령    1.300475
총생활비  1.205654