In [1]:
import pandas as pd
Data=pd.read_excel("../../더했다간미워할거야.xlsx")
data=pd.DataFrame(Data)

In [2]:
근로=data[["근로유형","(마)직업 만족도","근로일수(일)"]]

In [3]:
import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
step1=근로["근로일수(일)"].value_counts().to_frame()

In [5]:
근로["근로유형"].value_counts()

근로유형
4    1807
1    1373
2     374
5      12
Name: count, dtype: int64

In [6]:
근로[근로["근로유형"]==5]

      근로유형  (마)직업 만족도  근로일수(일)
250      5          1        0
251      5          1        0
284      5          3        0
715      5          2        0
751      5          4        0
1106     5          5        0
1107     5          5        0
1260     5          3        0
1364     5          3        0
1996     5          4        0
2186     5          3        0
2461     5          4        0

### 파생변수

In [7]:
## 근로능력 없음 : 0
## 근로능력 있지만 직업 X : 1
## 직업 o : 2
근로dc={5:0,4:1,2:2,1:2}

In [8]:
근로["근로유형"]=근로["근로유형"].apply(lambda x:근로dc[x])

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_19828\2690017563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  근로["근로유형"]=근로["근로유형"].apply(lambda x:근로dc[x])

### 상관계수 분석

In [9]:
import scipy as sp

In [10]:
sp.stats.spearmanr(근로[["근로유형","(마)직업 만족도"]])

SignificanceResult(statistic=0.32824865581991414, pvalue=2.3890482025123915e-90)

In [11]:
근로.corr(method="spearman")

               근로유형  (마)직업 만족도   근로일수(일)
근로유형       1.000000   0.328249  0.931400
(마)직업 만족도  0.328249   1.000000  0.312609
근로일수(일)    0.931400   0.312609  1.000000