In [1]:
import pandas as pd
Data=pd.read_excel("../../더했다간미워할거야.xlsx")
data=pd.DataFrame(Data)

In [2]:
건강=data[["(가)건강 만족도","건강상태","만성질환"]]

In [3]:
건강

      (가)건강 만족도  건강상태  만성질환
0             2     4     3
1             2     5     3
2             5     2     3
3             2     4     3
4             3     3     0
...         ...   ...   ...
3561          4     2     3
3562          4     2     3
3563          3     3     3
3564          4     2     3
3565          4     2     3

[3566 rows x 3 columns]

In [8]:
건강.corr(method="spearman").style.background_gradient(cmap="PuBu")